@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #fff8e8;
  color: #421b0d;
  font-family: var(--font-inter), Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-playfair), serif;
}

* {
  box-sizing: border-box;
}